In [11]:
import numpy as np
import math
import io

import gzip
import pickle
import zlib

import pandas as pd

from sklearn.preprocessing import LabelEncoder

In [34]:
transformers={}

In [13]:
df=pd.read_csv('train.csv', dtype=object)

In [23]:
prods = df.columns[24:].tolist()

In [27]:
for a in prods:
    df[a]= df[a].fillna(0.0).astype(np.float16)

In [28]:
np_product = df[prods].sum(axis=1)==0

C:\Users\User\Anaconda3\lib\site-packages\numpy\core\_methods.py:36: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial)

In [30]:
df= df[~np_product]

In [33]:
df.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39200.0,0.0
1,3,2,34,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49280.0,0.0
2,4,2,23,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,inf,0.0
3,8,2,37,0,195,195,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64000.0,0.0
4,10,2,39,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,inf,0.0

In [35]:
def label_encode(df, features, name):
    df[name] = df[name].astype('str')
    if name in transformers:
        transformers[name] = transformers[name].transform(df[name])
    else:
        transformers[name] = LabelEncoder()
        df[name] = transformers[name].fit_transform(df[name])
        features.append(name)

In [39]:
def encode_top(s,counts =100, dtype=np.uint8):
    uniqs, freqs = np.unique(s, return_counts=True)
    
    top = sorted(zip(uniqs, freqs) , key = lambda vk:vk[1], reverse = True)[:count]
    top_map ={uf[0]: l+1 for uf, l in zip(top,range(len(top)))}
    
    return s.map(lambda x:top_map.get(x,0)).astype(dtype)

In [40]:
def date_to_float(str_date):
    if str_date.__class__ is float and math.isnan(str_date) or str_date =="":
        return np.nan
    Y, M, D = [int(n) for a in str_date.strip().split("-")]
    float_date = float(Y) * 12 + float(M)
    return float_date

In [42]:
def date_to_int(str_date):
    Y, M, D = [int(a) for a in str_date.strip().split("-")]
    int_date = (int(Y) - 2015) *12 + int(M)
    assert 1 <=int_date <= 12+ 6
    return int_date